#backButton{
	float:left;
}
#nextButton{
	float:right;
}
#tableOfContents{
	margin:auto;
	max-width:21ch;
}
li{
	list-style-type: none;
	font-family: Georgia;
}
li>a{
	color:gray;
	text-decoration: none;
}
